/*.contact1{
    display: grid;
    font-size: large;
    font-weight: 400;
    background-color:gray;
    font-feature-settings: "expt";
    box-sizing: border-box;
    
    
}
.contact1 .image{
    
    max-width: width 100px;
    border-radius:100%;
    border: solid 2px black;
    box-shadow: inset;

    margin-bottom:var(--space-small);
    text-align:left;
    text-shadow: 1cm;
    size: 1px;

}*/
.contact-list {
    padding-left: 0;
    background-color: aliceblue;
  }
  .contact-list li {
    list-style-type: none;
  }
  .contact-list a {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: var(--space-small);
    padding: var(--space-smaller) var(--space-small);
    background-color: black;
    color: white;
    border: solid var(--space-smaller) white;
  }
  
  .contact-list i {
    margin-right: var(--space-small);
  }
  
  .contact-list a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
    border: solid var(--space-smaller) black;
  }
  
